option_settings:
  aws:elasticbeanstalk:application:environment:
    CERTIFICATE_ARN: ''
    ADMIN_USERNAME: ''
    ADMIN_PASSWORD: ''
    AWS_MYSQL_URL: 'awsroles.cxsw2fua4sdw.us-east-2.rds.amazonaws.com'
    AWS_MYSQL_DATABASE: 'awsroles'
    AWS_MYSQL_PORT: '3306'
    AWS_MYSQL_USERNAME: ''
    AWS_MYSQL_PASSWORD: ''
    AWS_ACCESS_KEY: ''
    AWS_SECRET_KEY: ''
    AWS_REGION: 'us-east-2'
    AWS_S3_BUCKET_NAME: 'bucares-poc-awsroles'
